<div class="package-create">
  <h2>Create Package</h2>
  <form (ngSubmit)="onSubmit()">

    <label>From Name:</label>
    <input [(ngModel)]="package.from_name" name="from_name" required />

    <label>To Name:</label>
    <input [(ngModel)]="package.to_name" name="to_name" required />

    <label>Weight (kgs):</label>
    <input type="number" [(ngModel)]="package.weight" name="weight" required />

    <label>Width (m):</label>
    <input type="number" [(ngModel)]="package.dimensions.width" name="width" />

    <label>Height (m):</label>
    <input type="number" [(ngModel)]="package.dimensions.height" name="height" />

    <label>Depth (m):</label>
    <input type="number" [(ngModel)]="package.dimensions.depth" name="depth" />

    <label>Description:</label>
    <input [(ngModel)]="package.description" name="description" required />

<!--    <label>From Location:</label>-->
<!--    <app-map (locationSelected)="onLocationSelected($event, true)"></app-map>-->

<!--    <label>To Location:</label>-->
<!--    <app-map (locationSelected)="onLocationSelected($event, false)"></app-map>-->

    <button type="submit">Create Package</button>
  </form>
</div>
