<div class="admin">
  <h2>Admin Dashboard</h2>

  <h3>Packages</h3>
  <div class="entity-section">
    <table class="entity-table" style="width: 80%;">
      <thead>
      <tr>
        <th>Package ID</th>
        <th>Description</th>
        <th>From Name</th>
        <th>To Name</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let package of packages">
        <td>{{ package._id }}</td>
        <td>{{ package.description }}</td>
        <td>{{ package.from_name }}</td>
        <td>{{ package.to_name }}</td>
        <td>{{ package.status }}</td>
        <td>
          <button (click)="editPackage(package._id)">Edit</button>
          <button class="delete" (click)="showDeleteModal(package._id, 'package')">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="create-button" (click)="createPackage()">Create New Package</button>
  </div>
  <h3>Deliveries</h3>
  <div class="entity-section">
    <table class="entity-table">
      <thead>
      <tr>
        <th>Delivery ID</th>
        <th>Package ID</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let delivery of deliveries">
        <td>{{ delivery.delivery_id }}</td>
        <td>{{ delivery.package_id }}</td>
        <td>{{ delivery.status }}</td>
        <td>
          <button (click)="editDelivery(delivery.delivery_id)">Edit</button>
          <button class="delete" (click)="showDeleteModal(delivery.delivery_id, 'delivery')">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <button class="create-button" (click)="createDelivery()">Create New Delivery</button>
  </div>

  <!-- Delete Modal -->
  <app-modal
    [showModal]="showModal"
    title="Delete Confirmation"
    (proceed)="proceedDelete()"
    (cancel)="cancelDelete()"
  >
    <!-- Dynamic content to display in the modal -->
    <p>Are you sure you want to delete this item?</p>
  </app-modal>
</div>
