.admin {
  max-width: 96%;
  margin: 20px auto;
  padding: 20px;


  .entity-section{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    table.entity-table {
      width: 80% !important;
      display: block;
      tr {
        width: 100%;
      }
    }
    button.create-button {
      width: 15%;
      align-self: center;
    }
  }

  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
      padding: 12px;
      border: 1px solid #ddd; // Light gray border
      text-align: left;
    }

    th {
      background-color: #f1f1f1; // Header background
    }

    tbody tr:hover {
      background-color: #f9f9f9; // Highlight on hover
    }
  }

  button {
    padding: 10px 15px;
    background-color: #007bff; // Primary blue button
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;

    &:hover {
      background-color: #0056b3; // Darker blue on hover
    }
  }

  .create-button {
    margin: 20px 0;
    display: block;
    width: 100%;
    background-color: #28a745; // Green for create button

    &:hover {
      background-color: #218838; // Darker green on hover
    }
  }
}
