<div class="delivery-list">
  <h2>Deliveries</h2>
  <button (click)="createPackage()" class="create-button">Create New Delivery</button>
  <table>
    <thead>
    <tr>
      <th>Delivery ID</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let delivery of deliveries">
      <td>{{ delivery._id }}</td>
      <td>{{ delivery.status }}</td>
      <td>
        <button (click)="viewDetails(delivery._id!)">View</button>
        <button (click)="editDelivery(delivery._id!)">Edit</button>
        <button (click)="deleteDelivery(delivery._id!)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
